header {
    background-color: #424E61;
}
header {
    background-color: #424E61;
    color: white;
}
<header>
    <img src="" alt=""><img src="alurastart logo.png" alt="">

    <ul>
        <li>Escola</li>
        <li>Estudante</li>
    </ul>
</header>
